/* Wrapper (space banane ke liye) */
/*.cta-wrapper {
      position: absolute;
  
    width: 50%;
    transform: translate(50%, 50%);
}*/

/* Card */
/*.cta-card {
  position: absolute;

  width: 100%;
  max-width: 1100px;

  background: linear-gradient(90deg, #ff7a18, #ff4d6d, #7b2cbf);
  padding: 40px;
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}*/
/* Wrapper */
.cta-wrapper {
  position: relative;
 
  margin-bottom: -180px; /* 👈 neeche gap remove */
  font-family: "Poppins", sans-serif;
}

/* Card */
.cta-card {
  position: relative; 

  width: 85%;
  max-width: 1100px;
  margin: 0 auto;

  background: linear-gradient(90deg, #ff7a18, #ff4d6d, #7b2cbf);
  padding: 40px;
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  transform: translateY(-100px); /* 👈 overlap effect */

  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}
/* Text */
.cta-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.cta-content p {
  font-size: 14px;
  max-width: 600px;
  color: #f8faff;
}

/* Button */
.cta-btn a {
  background: #f8faff;
  color: #ff4d6d;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
    white-space: nowrap;
}
@media (max-width: 768px) {

  .cta-card {
    flex-direction: column;
    text-align: center;
    transform: translateY(-70px);
  }

  .cta-wrapper {
    margin-bottom: -70px;
  }
}