:root {
  /* Backgrounds */
  --bg-main: #f8f8f5;
  --bg-dark: #083982;
  --bg-soft: #dfd4c9;
  --bg-light-blue: #9bd7f7;

  /* Primary */
  --primary: #083982;

  /* Accent */
  --accent-purple: #b87ffa;
  --accent-pink: #b13e5b;

  /* Text */
  --text-main: #294d2a;
  --text-secondary: #848f93;
  --text-white: #ffffff;

  /* UI */
  --radius: 10px;

}
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');