<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceUX.UI</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer class="footer">
  <div class="footer-container">

    <!-- Left Section -->
    <div class="footer-left">
      <div class="logo"><img src="./assets/images/logos/logo02.svg" alt="primary_logo"></div>
      <p class="desc">
        Creating intuitive, modern digital experiences for web and mobile.
      </p>

      <div class="socials">
        <a href="#"><img src="./assets/images/logos/linkdin_logo-01.svg" alt="linkdin_logo"></a>
        <a href="#"><img src="./assets/images/logos/instagram_logo-01.svg" alt="instagram_logo"></a>
      </div>
    </div>

    <!-- Quick Links -->
    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="footer-contact">
      <h3>Contact</h3>
      <p><img src="./assets/images/logos/mail_logo-01.svg" alt="mail_logo"> afaizan100@gmail.com <!-- sidragyas@gmail --></p>
      <p><img src="./assets/images/logos/phone_logo-01.svg" alt="phone_logo">+91 8318648154</p>
    </div>

  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <p>© 2026 Space UX/UI. All Rights Reserved.</p>
  </div>
</footer>
</body>
</html>
